body {
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
    text-align: center;
    padding-top: 80px;
}

.card {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0d1b4c;
    color: white;
    border: none;
    border-radius: 6px;
}

.hidden {
    display: none;
}
